* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#virtual-scroller {
  background-color: #f0f2f7;
  overflow: auto;
}

.row-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  border-bottom: 1px solid #c4c4c4;
}
